@import url(http://weloveiconfonts.com/api/?family=zocial);
* {
  margin: 100%;
  padding: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

.header__sidebar {
  background-color: #ffffff;
  padding: 0 20px;
  height: 85px;
  line-height: 50px;
  color: white;
  z-index: 1;
}

ul {
  float: right;
  padding-top: 40px;
  padding-right: 100px;
  font-size: 20px;
}

li {
  display: inline;
  transition: 0.5s;
  padding: 10px 12px;
}

.logo {
  float: left;
  padding-top: 20px;
  padding-left: 110px;
  cursor: pointer;
  color: black;
  font-size: 27px;
}

li a {
  color: black;
  text-decoration: none;
}

.icon {
  float: right;
  display: none;
}

ul li:hover {
  background-color: rgba(0, 62, 255, 0.3);
  border-radius: 1px;
  transition: 0.3s;
  width: 224px;
  cursor: pointer;
}

ul.cap_2 {
  width: 224px;
  height: 200px;
  border: 1px solid rgba(0, 62, 255, 0.3);
  background-color: white;
  position: absolute;
  top: 40px;
  left: -1px;
  box-shadow: 2px 2px 4px 1px #00000057;
  display: none;
  z-index: 1;
}

ul.cap_2 li {
  display: block;
  color: white;
  padding: 0;
  text-align: center;
  cursor: pointer;
  width: 224px;
}

ul.cap_2 li:last-child {
  border: none;
  width: 224px;
}

li {
  position: relative;
}

li:hover ul.cap_2 {
  display: block;
}

@media (max-width: 1000px) {
  ul {
    display: none;
  }
  ul.active {
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0px;
    display: block;
  }
  ul li {
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
  }
  .icon {
    display: block;
  }
  ul.cap_2 {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    left: 0px;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 90px;
  font-size: 18px;
  position: relative;
  left: 30%;
  height: 100%;
  color: black;
}

.btn--white::after {
  background-color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 100px;
  transition: all 0.4s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
  color: #777777;
  background-color: #fff;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

header {
  background-image: linear-gradient(
      to right bottom,
      rgba(5, 158, 252, 0.3),
      rgba(0, 62, 255, 0.3)
    ),
    url("https://alvesdemo.files.wordpress.com/2019/08/aaron-burden-1zr3wnstnvy-unsplash.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 80vh;
  clip-path: inset(0 0 5% 0);
}

.header__text-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding: 4px 7px 2px 4px;
}

.heading-primary {
  color: #fff;
  margin-bottom: 60px;
  font-display: auto;
}

.heading-primary--main {
  text-transform: uppercase;
  display: block;
  font-size: 40px;
  font-weight: initial;
  letter-spacing: 0px;
  animation: moveInLeft 1s ease-out;
}

.new1 {
  width: 55%;
  float: left;
}

.new2 {
  width: 42%;
  float: left;
}


.footer-name {
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 40px;
}

.footer-mail {
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 40px;
}

.footer-fb {
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 40px;
}

.footer-right--heading {
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 40px;
}

.footer-right--content {
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  word-wrap: break-word;
}

.footer-name:before {
  content: "";
  background: url("../icon/name.png") no-repeat;
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 6px 0 0;
}
.footer-mail:before {
  content: "";
  background: url("../icon/email.png") no-repeat;
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 6px 0 0;
}
.footer-fb:before {
  content: "";
  background: url("../icon/fb.png") no-repeat;
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 6px 0 0;
}

footer .bar-wrap {
  font-size: 12px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 95%;
}

.footer-column--left {
  float: left;
  width: 50%;
  padding-top: 18px;
  padding-left: 160px;
  font-style: normal;
}

.footer-column--right {
  float: right;
  width: 50%;
  padding-top: 14px;
  padding-right: 260px;
}

/* Clear floats after the columns */
.footer-content:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.nav {
  position: relative;
  height: 450px;
}

.content {
  position: absolute;
  margin: auto;
}

/* env */
body {
  min-height: 100vh;
}

h4 {
  margin: 30px 0px;
  font: 700 2em/1.4 "Avenir", sans-serif;
  color: rgb(160, 152, 152);
}

* {
  box-sizing: border-box;
  /*outline:1px solid red;*/
  font-family: sans-serif;
}
h4 {
  margin: 0;
  margin: 6px 0;
}
.news-cards {
  max-width: 100%;
  background: white;
  padding: 20px;
}

.userbox {
  max-width: 100%;
  background: white;
  padding: 10px;
}

.news-document {
  max-width: 100%;
  background: white;
  padding: 100px;
  padding-top: 0px;
}
.wrapper {
  margin-left: -20px;
}
.news-cards:after {
  content: "";
  display: block;
  clear: both;
}
.card {
  width: 33.33%;
  float: left;
  margin-bottom: 20px;
  padding-left: 20px;
  transition: transform 0.2s ease-in;
}

img {
  width: 100%;
  height: 100%;
}
h4 {
  color: black;
  font-size: 1.2em;
}
h1 {
  color: black;
  padding-left: 16px;
  border-left: 5px solid #3f51b5;
  font-size: 1.6em;
}
.card:hover {
  transform: scale(1.1);
}

.border-new {
  padding-top: 20px;
}

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

input {
  border: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

after {
  clear: both;
}

#login {
  margin: 0px;
  width: 320px;
}

#login form {
  margin: auto;
  padding-left: 20px;
  padding: 0 10px 10px 22px;
  width: 100%;
  border-radius: 5px;
  background: #192433;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#login form input[type="text"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#login form input[type="submit"]:hover {
  background: #16aa56;
}

ul.cap_2_login {
  border: 1px solid #192433;
  background-color: #192433;
  position: absolute;
  top: 45px;
  right: 1px;
  box-shadow: 2px 2px 4px 1px #00000057;
  display: none;
  padding-top: 10px;
  z-index: 1;
}

ul.cap_2_login li {
  display: block;
  color: white;
  border-bottom: 1px solid white;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

ul.cap_2_login li:last-child {
  border: none;
}

li {
  position: relative;
}

li:hover ul.cap_2_login {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border: 1px solid #192433;
  background-color: #192433;
  position: absolute;
  top: 45px;
  right: 1px;
  box-shadow: 2px 2px 2px 1px #00000057;
  display: none;
  padding-top: 10px;
  z-index: 1;
  color: white;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.container {
  display: grid;
  padding: 50px;
  position: relative;
}

.left-half {
  grid-column: 1;
  width: 400px;
}

.right-half {
  grid-column: 2;
  width: 1000px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.button_download {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.button_user {
  background-color: #1e90ff;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.button_duyet {
  background-color: rgb(30, 184, 255);
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.button_delete {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.button_ava {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.section_btn {
  padding-left: 40px;
}

h5 {
  color: white;
  font-size: 20px;
}

a {
  color: white;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 70vh;
  height: 35vh;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.column {
  float: left;
  padding-left: 60px;
}

.left {
  width: 23%;
}

.right {
  width: 35%;
}

.middle {
  width: 38%;
}

.column_2 {
  float: left;
}
.left_2 {
  width: 75%;
}
.right_2 {
  padding-left: 25px;
  width: 25%;
}

.left_3 {
  width: 70%;
}
.right_3 {
  padding-left: 25.5px;
  width: 30%;
}
.main {
  font-weight: bold;
  font-size: 20px;
  margin-left: 0;
}
/* Para in header */
#para {
  margin-top: 35px;
  font-size: 25px;
  margin-left: 9px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.heading-primary--sub {
  display: block;
  font-size: 22px;
  letter-spacing: 0px;
  animation: moveInRight 1s ease-out;
  text-transform: initial;
  color: #fff;
}

#copyright {
  font-style: normal;
  color: black;
  font-size: 20px;
  padding-top: 0;
}
.footer {
  background-image: linear-gradient(
      to right bottom,
      rgba(142, 158, 252, 0.3),
      rgba(28, 62, 255, 0.3)
    ),
    url("../img/footer2.png");
  background-size: cover;
  clear: both;
  position: relative;
  height: 55px;
  margin-top: auto;
  top: 15px;
}
